<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Ditta</th>
        <th class="lbTel" scope="col">P.IVA</th>
        <th scope="col">Contatto</th>
        <th class="lbTel" scope="col">Telefono</th>
        <th scope="col">Dettagli</th>

        <th scope="col">Elimina</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cl of clienti">
        <th class="td-id">{{ cl.id }}</th>
        <td>{{ cl.ragioneSociale }} {{ cl.tipoCliente }}</td>
        <td class="lbTel">{{ cl.partitaIva }}</td>
        <td>{{ cl.nomeContatto }} {{ cl.cognomeContatto }}</td>
        <td class="lbTel">
          {{ cl.indirizzoSede?.comune?.nome }} ({{
            cl.indirizzoSede?.comune?.provincia
          }})
        </td>
        <td>
          <button
            id="b1"
            mat-button
            type="submit"
            [routerLink]="[cl.id]"
            routerLinkActive="router-link-active"
            routerLink="client-details"
          >
            <i class="bi bi-info-circle"></i>
          </button>
        </td>

        <td>
          <!-- <button (click)="deleteCl()"><i class="bi bi-trash-fill"></i></button> -->
          <button id="b3"><i class="bi bi-trash-fill"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <div class="d-flex justify-content-between p-2">
<ngb-pagination
  [collectionSize]="collectionSize"
  [(page)]="page"
  [pageSize]="pageSize"
  (pageChange)="refreshClients()"
>
</ngb-pagination>

<select>
  class="form-select"
  style="width: auto"
  [(ngModel)]="pageSize"
  (ngModelChange)="refreshClients()"
>

  <option [ngValue]="5">5 items per page</option>
  <option [ngValue]="10">6 items per page</option>
</select>
</div> -->
