<section class="container">
  <div *ngIf="showCard">
    <h1>Scheda Cliente</h1>
    <div class="container-card">
      <mat-card class="example-card">
        <mat-card-title
          >{{ cliente?.ragioneSociale }} {{ cliente?.tipoCliente
          }}</mat-card-title
        >
        <mat-card-content>
          <p><span>Id:</span> {{ cliente?.id }}</p>
          <p><span>P.IVA:</span> {{ cliente?.partitaIva }}</p>

          <p><span>Tel. Aziendale:</span> {{ cliente?.telefono }}</p>
          <p><span>E-mail Aziendale:</span> {{ cliente?.email }}</p>
          <p><span>PEC:</span> {{ cliente?.pec }}</p>
          <p>
            <span>Sede Legale:</span>
            {{ cliente?.indirizzoSede?.via }} n°
            {{cliente?.indirizzoSede?.civico}} - {{ cliente?.indirizzoSede?.cap
            }} {{ cliente?.indirizzoSede?.comune?.nome }} ({{
            cliente?.indirizzoSede?.comune?.provincia}})
          </p>
          <hr />
          <p>
            <span>Contatto:</span>
            {{ cliente?.nomeContatto }} {{ cliente?.cognomeContatto }}
          </p>
          <p><span>Tel. Personale: </span> {{ cliente?.telefonoContatto }}</p>
          <p><span>E-mail Personale:</span> {{ cliente?.emailContatto }}</p>
          <mat-card-actions>
            <button class="b1" (click)="openVerticallyCentered(content)">
              <i class="bi bi-vector-pen"></i>
            </button>
            <button class="b2" mat-button (click)="closeDetails()">
              <i class="bi bi-box-arrow-right"></i>
            </button>
          </mat-card-actions>
          <hr />
          <p>
            <span>Scheda cliente inserita:</span>
            il {{ cliente?.dataInserimento | date : 'dd/MM/yyyy' }} alle ore {{
            cliente?.dataInserimento | date : 'h:mm' }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title text-center">Scheda cliente</h4>
      <button
        class="b3"
        type="button"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <i class="bi bi-x-lg"></i>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <h2 class="h3 mb-3 fw-normal text-white">Crea anagrafica cliente</h2>

        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="ragioneSociale"
            placeholder="Asso Group"
            formControlName="ragioneSociale"
            ngModel
          />
          <label for="ragioneSociale">{{ cliente?.ragioneSociale }}</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="tipoCliente"
            placeholder="Srl"
            formControlName="tipoCliente"
            ngModel
          />
          <label for="tipoCliente">{{ cliente?.tipoCliente }}</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="partitaIva"
            placeholder="0123456789"
            formControlName="partitaIva"
            ngModel
          />
          <label for="partitaIva">{{ cliente?.partitaIva }}</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="name@example.com"
            formControlName="email"
            ngModel
          />
          <label for="email">{{ cliente?.email }}</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="email"
            class="form-control"
            id="pec"
            placeholder="pec"
            formControlName="pec"
            ngModel
          />
          <label for="pec">{{ cliente?.pec }}</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="telefono"
            placeholder="Telefono"
            formControlName="telefono"
            ngModel
          />
          <label for="telefono">{{ cliente?.telefono }}</label>
        </div>

        <h3>Contatto</h3>
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="nomeContatto"
            placeholder="Nome"
            formControlName="nomeContatto"
            ngModel
          />
          <label for="nomeContatto">{{ cliente?.nomeContatto }}</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="cognomeContatto"
            placeholder="Cognome"
            formControlName="cognomeContatto"
            ngModel
          />
          <label for="cognomeContatto">{{ cliente?.cognomeContatto }}</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="telefonoContatto"
            placeholder="Telefono"
            formControlName="telefonoContatto"
            ngModel
          />
          <label for="telefonoContatto">{{ cliente?.telefonoContatto }}</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="email"
            class="form-control"
            id="emailContatto"
            placeholder="name@example.com"
            formControlName="emailContatto"
            ngModel
          />
          <label for="emailContatto">{{ cliente?.emailContatto }}</label>
        </div>

        <h3>Indirizzo sede</h3>
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="via"
            placeholder="via"
            formControlName="indirizzoSede.via"
            ngModel
          />
          <label for="via">{{ cliente?.indirizzoSede?.via }}</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="civico"
            placeholder="N° Civico"
            formControlName="indirizzoSede.civico"
            ngModel
          />
          <label for="civico">{{ cliente?.indirizzoSede?.civico }}</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="cap"
            placeholder="cap"
            formControlName="indirizzoSede.cap"
            ngModel
          />
          <label for="cap">{{ cliente?.indirizzoSede?.cap }}</label>
        </div>
        <h3>Comune</h3>
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="comuneNome"
            placeholder="Città"
            formControlName="indirizzoSede.comuneNome"
            ngModel
          />
          <label for="comuneNome"
            >{{ cliente?.indirizzoSede?.comuneNome }}</label
          >
        </div>
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="comuneProvincia"
            placeholder="comuneProvincia"
            formControlName="indirizzoSede.comuneProvincia"
            ngModel
          />
          <label for="comuneProvincia"
            >{{ cliente?.indirizzoSede?.comuneProvincia }}</label
          >
        </div>
        <div class="modal-footer">
          <button class="b4" type="submit">
            <i class="bi bi-check-lg"></i>
          </button>
        </div>
      </form>
    </div>
  </ng-template>
</section>
