<nav class="navbar navbar-expand-lg">
  <div class="container-fluid d-flex justify-content-around">
    <a class="navbar-brand">
      <img
        id="log"
        src="../../assets/logo.png"
        alt="Logo"
        width="140"
        class="d-inline-block align-text-top"
      />
    </a>
    <div class="d-flex">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="true"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" id="utentiLink" (click)="utenti()">Utenti</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['clienti']">Clienti</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['fatture']">Fatture</a>
          </li>
        </ul>
        <button class="mx-3 rounded-circle" id="user">
          {{ user.user.firstname | slice: 0:1 }}
          {{ user.user.lastname | slice: 0:1 }}
        </button>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
