<!-- <div class="container">
  <div #table>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Cliente</th>
          <th scope="col">Numero Fattura</th>
          <th scope="col">Importo</th>
          <th scope="col">Stato</th>
          <th scope="col">Ultima Modifica</th>
          <th scope="col">MODIFICA</th>
          <th scope="col">ELIMINA</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">{{fattura.id}}</th>
          <td>
            {{ cliente?.ragioneSociale }}
          </td>
          <td>{{ fattura.numero }}</td>
          <td>{{ fattura.importo }}</td>
          <td>{{ fattura.stato }}</td>
          <td>{{ fattura.dataUltimaModifica }}</td>
          <td>
            <button (click)="changeProp()">
              <i class="bi bi-vector-pen"></i>
            </button>
          </td>
          <td>
            <button (click)="deleteUser()">
              <i class="bi bi-trash3-fill"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div #formMod *ngIf="bool">
    <form [formGroup]="fatturaForm" (ngSubmit)="onSubmit()">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Cliente</th>
            <th scope="col">Numero Fattura</th>
            <th scope="col">Importo</th>
            <th scope="col">Stato</th>
            <th scope="col">CONFERMA</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"></th>
            <td>
              <div class="mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="cliente.ragioneSociale"
                  formControlName="cliente.ragioneSociale"
                />
              </div>
            </td>
            <td>
              <div class="mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="numero"
                  formControlName="numero"
                />
              </div>
            </td>
            <td>
              <div class="mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="importo"
                  formControlName="importo"
                />
              </div>
            </td>
            <td>
              <select
                class="form-select"
                aria-label="Default select example"
                formControlName="stato"
                id="floatingrole"
              >
                <optgroup>
                  <option selected value="NON_PAGATA">Non Pagata</option>
                  <option value="PAGATA">Pagata</option>
                </optgroup>
              </select>
            </td>
            <td>
              <button type="submit"><i class="bi bi-vector-pen"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div> -->

<div class="page-content container">
  <div class="page-header text-blue-d2">
      <h1 class="page-title text-secondary-d1">
          Fattura
          <small class="page-info">
              <i class="fa fa-angle-double-right text-80"></i>
              {{fattura.id}}
          </small>
      </h1>

      <!-- <div class="page-tools">
          <div class="action-buttons">
              <a class="btn bg-white btn-light mx-1px text-95" href="#" data-title="Print">
                  <i class="mr-1 fa fa-print text-primary-m1 text-120 w-2"></i>
                  Print
              </a>
              <a class="btn bg-white btn-light mx-1px text-95" href="#" data-title="PDF">
                  <i class="mr-1 fa fa-file-pdf-o text-danger-m1 text-120 w-2"></i>
                  Export
              </a>
          </div>
      </div> -->
  </div>

  <div class="container px-0">
    <div class="row mt-4">
      <div class="col-12 col-lg-12">
        <div class="row">
          <div class="col-12">
            <div class="text-center text-150">
              <i class="fa fa-book fa-2x text-success-m2 mr-1"></i>
              <img src="../../../../assets/logo.png" alt="">
            </div>
          </div>
    </div>
              <!-- .row -->

              <hr class="row brc-default-l1 mx-n1 mb-4" />

    <div class="row">
      <div class="col-sm-6">
        <div>
          <span class="text-sm text-grey-m2 align-middle">To:</span>
          <span class="text-600 text-110 text-blue align-middle">{{cliente?.ragioneSociale}}</span>
        </div>
        <div class="text-grey-m2">
          <div class="my-1">
            {{cliente?.indirizzoSede?.via}}, {{cliente?.indirizzoSede?.comune?.nome}}
          </div>
          <div class="my-1"><i class="fa fa-phone fa-flip-horizontal text-secondary"></i> <b class="text-600">{{cliente?.telefono}}</b></div>
        </div>
      </div>
                  <!-- /.col -->

      <div class="text-95 col-sm-6 align-self-start d-sm-flex justify-content-end">
      <hr class="d-sm-none" />
        <div class="text-grey-m2">

          <div class="my-2"><i class="fa fa-circle text-blue-m2 text-xs mr-1"></i> <span class="text-600 text-90">Emanata il:</span> {{fattura.dataInserimento | date: "dd/MM/yyyy"}}</div>

          <div class="my-2"><i class="fa fa-circle text-blue-m2 text-xs mr-1"></i> <span class="text-600 text-90">Status:</span> <span class="badge badge-warning badge-pill px-25">{{fattura.stato}}</span></div>
        </div>
      </div>
                  <!-- /.col -->
    </div>

    <div class="mt-4">
      <div class="row text-600 text-white bgc-default-tp1 py-25">
        <div class="d-none d-sm-block col-1">#</div>
        <div class="col-9 col-sm-5">Descrizione</div>
        <div class="d-none d-sm-block col-4 col-sm-2">Quantità</div>
        <div class="d-none d-sm-block col-sm-2">Prezzo</div>
        <div class="col-2">Totale</div>
      </div>

      <div class="text-95 text-secondary-d3">
        <div class="row mb-2 mb-sm-0 py-25">
          <div class="d-none d-sm-block col-1">{{fattura.id}}</div>
          <div class="col-9 col-sm-5">Servizio</div>
          <div class="d-none d-sm-block col-2">Quantità</div>
          <div class="d-none d-sm-block col-2 text-95">{{fattura.importo | currency:"EUR": true}}</div>
          <div class="col-2 text-secondary-d2">{{fattura.importo | currency: "EUR": true}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
