tr {
  color: grey;
}

.th {
  text-align: center;
  border: none;
}

.td {
  border: none;
}

#tid {
  color: #505050;
}

.container {
  height: 100%;
  margin-top: 60px;
  background: #131419;

  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05),
    5px 5px 15px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05),
    5px 5px 15px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05),
    5px 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

table {
  border-bottom: grey;
}

#b2 {
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05),
    5px 5px 15px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05),
    5px 5px 15px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05),
    5px 5px 15px rgba(0, 0, 0, 0.5);
  color: #18befe;
  background: #131419;
  border: none;
  font-size: 1.3rem;
}
#b3 {
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05),
    5px 5px 15px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05),
    5px 5px 15px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05),
    5px 5px 15px rgba(0, 0, 0, 0.5);
  color: red;
  background: #131419;
  border: none;
  font-size: 1.3rem;
}

#b4 {
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05),
    5px 5px 15px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05),
    5px 5px 15px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05),
    5px 5px 15px rgba(0, 0, 0, 0.5);
  color: green;
  background: #131419;
  border: none;
  font-size: 1.3rem;
}

.b4t {
  text-align: center;
}

.tm {
  margin-top: 70px;
}

input {
  background: #131419 !important;
  color: grey !important;

  outline: none;
  border-radius: 40px;
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1),
    inset 2px 2px 6px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1),
    inset 2px 2px 6px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1),
    inset 2px 2px 6px rgba(0, 0, 0, 0.8);
  border: none;
}

input:hover {
  background: #131419 !important;
  color: #fbb400 !important;
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1),
    inset 2px 2px 6px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1),
    inset 2px 2px 6px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1),
    inset 2px 2px 6px rgba(0, 0, 0, 0.8);
}

select {
  background-color: #131419;
  color: #006c9c;
}

#firstname,
#lastname,
#age,
#floatingrole,
#email {
  background: #131419;
  color: #fbb400;
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  #lbTel,
  .lbTel {
    display: none;
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  #lbTel,
  .lbTel {
    display: none;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}
