<!-- <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="mb-3">
        <label for="id" class="form-label">ID</label>
        <input type="text" class="form-control" id="id" ngModel name="id" ng-readonly="bool" value="{{user?.id}}">

    </div>
    <div class="mb-3">
        <label for="firstname" class="form-label">Nome</label>
        <input type="text" class="form-control" id="firstname" value="{{user?.firstname}} " ngModel name="firstname">
    </div>
    <div class="mb-3">
        <label for="lastname" class="form-label">Cognome</label>
        <input type="text" class="form-control" id="lastname" value="{{user?.lastname}} " ngModel name="lastname">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" value="{{user?.email}}" ngModel name="email">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" value="{{user?.email}}" ngModel name="email">
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
</form> -->
<div class="container">
    <mat-card class="example-card">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <mat-card-title>{{user?.firstname}} </mat-card-title>

            <div class="mb-3" *ngIf="bool">
                <label for="firstname" class="form-label">Nome</label>
                <input type="text" class="form-control" id="firstname" value="{{user?.firstname}} " ngModel
                    name="firstname">
            </div>
            <mat-card-title>{{user?.lastname}}</mat-card-title>

            <div class="mb-3" *ngIf="bool">
                <label for="lastname" class="form-label">Cognome</label>
                <input type="text" class="form-control" id="lastname" value="{{user?.lastname}} " ngModel
                    name="lastname">
            </div>
            <mat-card-content>
                <p> Id: {{user?.id}}</p>

                <p> Età: {{user?.age}}</p>

                <p>{{user?.email}}</p>

                <div class="mb-3" *ngIf="bool">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" value="{{user?.email}}" ngModel name="email">
                </div>

                <select class="form-select" aria-label="Default select example" name="role" id="floatingrole" ngModel
                    required>
                    <option value="" disabled selected>Ruolo</option>
                    <option value="ROLE_ADMIN">Amministratore</option>
                    <option value="ROLE_USER">Impiegato</option>
                </select>



            </mat-card-content>
            <mat-card-actions>
                <button mat-button (click)="changeProp()">Modifica</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>