<section>
  <h1>Scheda Cliente</h1>
  <div class="container-fluid">
    <mat-card class="example-card">
      <mat-card-title
        >{{ cliente?.ragioneSociale }}
        {{ cliente?.tipoCliente }}</mat-card-title
      >
      <mat-card-content>
        <p>Id: {{ cliente?.id }}</p>
        <p>P.IVA: {{ cliente?.partitaIva }}</p>
        <p>
          Contatto: {{ cliente?.nomeContatto }} {{ cliente?.cognomeContatto }}
        </p>
        <p>Tel. aziendale: {{ cliente?.telefono }}</p>
        <p>Tel. aziendale: {{ cliente?.telefonoContatto }}</p>
        <p>E-mail aziendale: {{ cliente?.email }}</p>
        <p>E-mail contatto: {{ cliente?.emailContatto }}</p>
        <p>pec: {{ cliente?.pec }}</p>
        <p>Sede Legale: {{ cliente?.indirizzoSede }}</p>
        <hr />
        <p>Scheda cliente inserita: {{ cliente?.dataInserimento }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Salva</button>
        <button mat-button>Esci</button>
      </mat-card-actions>
    </mat-card>
  </div>
</section>
