<div id="not-print" class="container">
  <!--Lista Clienti-->

  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Cliente</th>
        <th class="lbTel" scope="col">P.IVA</th>
        <th scope="col">Contatto</th>
        <th class="lbTel" scope="col">Telefono</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cl of clienti">
        <th class="td-id">{{ cl.id }}</th>
        <td>{{ cl.ragioneSociale }} {{ cl.tipoCliente }}</td>
        <td class="lbTel">{{ cl.partitaIva }}</td>
        <td>{{ cl.nomeContatto }} {{ cl.cognomeContatto }}</td>
        <!-- <td [hidden]="noShow">{{ cl.indirizzoSede?.comune }}</td> -->
        <td class="lbTel">
          {{ cl.indirizzoSede?.comune?.nome }} ({{
            cl.indirizzoSede?.comune?.provincia
          }})
        </td>
      </tr>
    </tbody>
  </table>

  <!-- INPUT FATTURE -->

  <form class="cont" [formGroup]="invoiceForm" (ngSubmit)="onSubmit()">
    <h2 class="h3 mb-3 fw-normal">Crea Fattura</h2>
    <div>
      <p>
        <ngb-alert [dismissible]="true" *ngIf="showAlert">
          <strong>Attenzione!</strong> {{ error }}
        </ngb-alert>
      </p>
    </div>

    <div class="form-floating mb-3" formGroupName="cliente">
      <input
        type="text"
        class="form-control"
        id="id"
        placeholder=""
        formControlName="id"
      />
      <label for="cliente">Inserisci numero ID cliente</label>
    </div>

    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="importo"
        placeholder=""
        formControlName="importo"
      />
      <label for="importo">Inserisci l'importo</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="servizio"
        placeholder=""
        formControlName="servizio"
      />
      <label for="">Inserisci il servizio</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="quantita"
        placeholder=""
        formControlName="quantita"
      />
      <label for="quantita">Inserisci la quantità</label>
    </div>
    <div class="form-floating mb-3" [hidden]="noShow">
      <input
        type="text"
        class="form-control"
        id="dataInserimento"
        placeholder="dataInserimento"
        formControlName="dataInserimento"
      />
      <label for="dataInserimento"></label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="stato"
        placeholder=""
        formControlName="stato"
      />
      <label for="stato">Stato Fattura</label>
    </div>

    <button id="b2" type="submit">Aggiungi</button>
  </form>

  <!-- FINE INPUT FATTURE  -->

  <!-- INIZIO TABELLA  -->
  <section class="container">
    <table class="table">
      <thead>
        <tr>
          <th class="lbTel" scope="col">ID</th>
          <th scope="col">Cliente</th>
          <th class="lbTel" scope="col">Data Inserimento</th>
          <th scope="col">Importo</th>
          <th scope="col">Stato</th>
          <th scope="col">Dettagli</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fattura of fatture">
          <th class="td-id">{{ fattura.id }}</th>
          <td>{{ fattura.cliente?.id }}</td>
          <td class="lbTel">
            {{ fattura.dataInserimento | date: "dd/MM/yyyy" }}
          </td>
          <td>{{ fattura.importo | currency: "EUR":true }}</td>
          <td>{{ fattura.stato }}</td>
          <td>
            <button
              id="b1"
              mat-button
              type="submit"
              [routerLink]="[fattura.id]"
              routerLinkActive="router-link-active"
            >
              <i class="bi bi-info-circle"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
  <!-- FINE TABELLA  -->
</div>
<router-outlet></router-outlet>
