.container {
  margin-top: 60px;
}

#b1 {
  filter: drop-shadow(
    -2px -2px 6px rgba(255, 255, 255, 0.1),
    2px 2px 6px rgba(0, 0, 0, 0.8)
  );
  color: #fbb400;
  background: #131419;
  border: none;
  font-size: 1.3rem;
}
#b2 {
  text-align: center;
  box-shadow: 0px -1px 1px 2px rgb(255 255 255 / 5%),
    3px 5px 3px 4px rgb(0 0 0 / 50%);
  -webkit-box-shadow: 0px -1px 1px 2px rgb(255 255 255 / 5%),
    3px 5px 3px 4px rgb(0 0 0 / 50%);
  -moz-box-shadow: 0px -1px 1px 2px rgb(255 255 255 / 5%),
    3px 5px 3px 4px rgb(0 0 0 / 50%);
  color: green;
  background: #131419;
  border: none;
  font-size: 1.3rem;
  margin-top: 20px;
  margin-bottom: 60px;
}

.td-id {
  color: #505050;
}

th {
  border: none;

  color: grey;
}

tr {
  color: grey;
  border: #131419;
}

.cont {
  margin-top: 60px;

  .h3 {
    text-align: center;
    color: lightgray;
  }
}

form {
  margin: auto;
  background: #131419;
  color: lightgray;
}

input {
  background-color: #131419 !important;
  color: #006c9c !important;
  outline: none;
  border-radius: 40px;
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1),
    inset 2px 2px 6px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1),
    inset 2px 2px 6px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1),
    inset 2px 2px 6px rgba(0, 0, 0, 0.8);
  border: none;
}

input:hover {
  background-color: #131419 !important;

  color: #006c9c !important;
}

label {
  color: lightgrey;
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .lbTel {
    display: none;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}

//MEDIA PRINT

@media print {
  #not-print {
    display: none;
  }
}
